.game {
	width: 300px;
	height: 250px;
	background: linear-gradient(90deg, #444, #a52);
	position: relative;
	border-radius: 16px;
	margin-top: 200px;
	box-shadow: 10px 10px 8px #1f1d1d
}

.h2 {
	text-align: center;
	color: white;
}

.li-harc {
	list-style: none;
	width: 70%;
	border: 1px solid black;
	padding: 2px;
	border-radius: 7px;
	margin-top: 8px;
	background-color: aquamarine;
	cursor: pointer;
	font-size: 18px;
}

.li-harc:hover {
	background-color: silver;
}

.li-harc:active {
	background-color: red;
}